*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;

}
body{
    position: relative;
    padding-bottom: 120px ;
    min-height: 100vh;
}


h1{

    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    outline: none;
    width: 50%;


    margin: 10px  auto;
    padding: 7px;
    font-size: 21px;
    background-color:rgb(209, 236, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;

}
.column {
    flex: 33.33%;
    height: 400px;
    padding: 10px;
    margin: 5px;
    margin-top: 15px;
    background-color: #befdf7;
    text-align: center;
    height: auto 10cm;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
  }
  .container {
     display: flex;

  }
  p{
      font-size: 20px;
  }
h4,h3,h2{
    font-size: 20px;
}

h5{


    outline: none;
    width: 100%;
    height: 1.90cm;
    margin-top: 0cm;
    margin:  0px auto;
    padding: 25px;
    font-size: 25px;
    background-color:rgb(201, 243, 245);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;

}
.kk{
    Width : 10%;
    height: 1.90cm;
    position:absolute;
    margin-left: 5px;
    border-radius: 10px;
    padding: 5px;
    padding-top: 7px;

}
.footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(201, 243, 245);
    color: rgba(0,0,0,.7);
    text-align: center;
    font-size: 10px;

  }
  .cp-text{
      color: rgba(0,0,0,.7);
       text-shadow: 0 1px rgba(255, 255, 255, 0.1);
    }

.column{
    flex: 33.33%;
    height: 200px auto ;
    padding: 10px;
    margin: 15px;
    margin-left: 110px;
    margin-right: 110px;
    margin-top: 25px;
    background-color: #fcf6fb;
    text-align: center;
    height: auto 10cm;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
}

.btn {

    color: white;
    background: purple;
    padding: 8px 12px;
    font-size: 12px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    cursor: pointer;
    margin-top: 80px auto;

}
.form-control{

    border: 2px solid black;
    border-radius: 10px;
    outline:auto;
    width: 70%;
    margin: 40px auto;
    padding: 7px;
    font-size: 16px;
    height: 4cm;
}

.mic{
    position: relative;
    width: 30px;
    height: 35px;
  }

  .effect:hover .mic{
    /* opacity: 0.5;
    scale: 1.5; */
    transform: scale(1.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
