*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;

}

.container{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    outline: none;
    width: auto;
    height:  40cm auto ;


    padding: 7px;
    font-size: 15px;
    background-color:rgb(211, 249, 245);
    background: linear-gradient(to top, #fff 10%, rgba(241, 212, 255, 0.4) 90%) no-repeat;
    background-image: linear-gradient(to top, rgb(255, 255, 255) 10%, rgba(224, 190, 255, 0.4) 90%);
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 200px ;

    height: 38cm fit-content ;
    margin-left: 100px ;
    margin-right: 100px ;
    margin-bottom: 160px ;

}
.form-control{

    border: 2px solid black;
    border-radius: 10px;
    outline:auto;
    width: 70%;
    margin-top: 100px ;
    margin-bottom: 50px;
    padding: 7px;
    font-size: 20px;
    height:  7cm ;

}

  .main{

    width: auto;
    height: fit-content;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(243, 224, 255);
    background-image: linear-gradient(135deg, #fcf1fd 10%, #dbd7fd 100%);
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
  }

  #hr{
    size: 5px;
    border: 2px solid aliceblue;
    color: aliceblue;
}

h2{
    margin-top: 100px;
    margin-bottom: 50px;
    background-color: rgb(231, 224, 142);
    width: 70%;
    border-radius: 20px;
    margin-left: 120px;
    outline: none;

    height: 3.1cm;
    padding: 25px;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;

}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(201, 243, 245);
    color: rgba(0,0,0,.7);
    text-align: center;
    font-size: 20px;

  }




    .cp-text{
        color: rgba(0,0,0,.7);
         text-shadow: 0 1px rgba(255, 255, 255, 0.1);
        font-size: 20px;

        }

        .label {

            color: white;
            background: purple;
            padding: 8px 12px;
            font-size: 30px;
            border: 2px solid rgb(0, 0, 0);
            border-radius: 10px;
            cursor: pointer;
            margin-bottom: 100px;
            margin-top: 100px;

        }

        .footer-tags {
            float: none;
            padding-left: 0;
        }





        .button{
            display: inline-block;
            margin: 10px;
        }
B{
    background-color: rgb(253, 162, 253);
}

h4{
    background-color: rgb(225, 197, 223);
    width: 60%;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    height: 2.1cm;
    padding: 15px;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 70px;

    outline: none;
}

.upload_btn{
    color: white;
            background: rgb(51, 78, 254);
            padding: 8px 12px;
            font-size: 25px;
            border: 2px solid rgb(0, 0, 0);
            border-radius: 10px;
            cursor: pointer;

            margin-top: 70px;
   margin-bottom: 100px;

}
.form-control1{

    border: 2px solid black;
    border-radius: 10px;
    outline:auto;
    width: 70%;
    margin-top: 50px ;
    margin-bottom: 10px;
    padding: 7px;
    font-size: 20px;
    height:  7cm ;
    padding: 80px;
    background-color: aliceblue;

}
.text-center{
    background-color: #ffe48d;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
}
